<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NodeJS Blog | <%= title %> </title>
</head>

<body>
  <nav>
    <div class="site-title">
      <a href="/">
        <h1>NodeJS Blog</h1>
      </a>
      <p>Simple Blog created using NodeJS, ExpressJS and MongoDB</p>
    </div>
    <ul>
      <li><a href="/">BLOGS</a></li>
      <li><a href="/about">ABOUT</a></li>
      <li><a href="/blogs/create">CREATE A NEW POST</a></li>
    </ul>
  </nav>

  <div class="not-found content">
    404 Oops! - That page doesn't exist...
  </div>

</body>

</html>