<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NodeJS Blog | <%= title %></title>
</head>

<body>
  <nav>
    <div class="site-title">
      <a href="/">
        <h1>NodeJS Blog</h1>
      </a>
      <p>Simple Blog created using NodeJS, ExpressJS and MongoDB</p>
    </div>
    <ul>
      <li><a href="/">BLOGS</a></li>
      <li><a href="/about">ABOUT</a></li>
      <li><a href="/blogs/create">CREATE A NEW POST</a></li>
    </ul>
  </nav>

  <div class="blogs content">
    <h2>ABOUT US</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate eveniet nemo necessitatibus eum possimus iusto odit ea, sit explicabo repellat? Adipisci quam ullam, porro recusandae quas natus voluptas deleniti repellendus!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus iure laborum ratione dolor quod cupiditate aperiam tenetur, quisquam odit, eaque impedit repellat reprehenderit sit illum adipisci maxime commodi quae eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil animi exercitationem eum eligendi corporis perspiciatis quasi. Non ducimus fugiat consequatur magnam assumenda, inventore eos enim ratione. Voluptate fugit officia sint?</p>
  </div>

</body>

</html>