<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')  %>

<body>
  <%- include('./partials/nav.ejs') %>

  <div class="blogs content">
    <h2>ABOUT US</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate eveniet nemo necessitatibus eum possimus iusto odit ea, sit explicabo repellat? Adipisci quam ullam, porro recusandae quas natus voluptas deleniti repellendus!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus iure laborum ratione dolor quod cupiditate aperiam tenetur, quisquam odit, eaque impedit repellat reprehenderit sit illum adipisci maxime commodi quae eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil animi exercitationem eum eligendi corporis perspiciatis quasi. Non ducimus fugiat consequatur magnam assumenda, inventore eos enim ratione. Voluptate fugit officia sint?</p>
  </div>

  <%- include('./partials/footer.ejs') %>
</body>

</html>